/********************
GLOBAL STYLES
*********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  color: #000;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

/* OVO CEMO UCITI NA RESPONSIVE: :) */
img {
  /* DA SU SVE SLIKE SIRINE NASIH ELEMENATA I DA NE PRELAZE ELEMENTE RODITELJSKE: */
  max-width: 100%;
  border-radius: 15px;
}
/********************
LAYOUT
*********************/
.screen {
  width: 400px;
  border-radius: 56px;
  outline: 10px solid #222;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #222222;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
}

.content header.main-header {
  color: #fff;
  padding: 40px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content header.main-header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content header.main-header .top .left .location {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.content header.main-header .top .left .location p {
  color: #b6bcba;
  font-size: 15px;
}
.currentlocation {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content header .top .left .location .currentlocation i {
  color: #fc600f;
}
.content header .top .left .location .currentlocation p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.content header .top .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bell,
.menu {
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.content header .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #666666;
  padding: 10px;
  border-radius: 10px;
  color: #c5cbc9;
}
.content header .bottom .left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.content header .bottom .left p {
  font-size: 14px;
}
main {
  background-color: #fff;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mainImg {
  position: relative;
}
.mainImg img {
  filter: brightness(70%);
}
.mainImg .text {
  position: absolute;
  top: 25px;
  left: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mainImg .text h3 {
  font-weight: 400;
  font-size: 25px;
}
.mainImg .text p {
  font-size: 13px;
  color: #ffffffbd;
}
.details {
  position: absolute;
  bottom: 25px;
  right: 15px;
}
.details a {
  background-color: #fc600f;
  color: #fff;
  padding: 5px 15px 8px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s all ease-in-out;
}
.details a:hover {
  background-color: rgb(5, 218, 33);
}
section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section header ul {
  display: flex;
  justify-content: space-between;
}

section header ul li a {
  display: flex;
  text-decoration: none;
  color: #a9aeb2;
  font-weight: 500;
  position: relative;
}
section header ul li a:focus {
  color: #222222;
}
.dot {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #fc600f;
  border-radius: 50%;
}
section .bottom {
  display: flex;
  gap: 10px;
}

section .bottom article {
  box-shadow: 5px 5px 10px #22222262;
  border-radius: 15px;
}
.artImg {
  position: relative;
}
.artImg .like {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff7c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artImg .like i {
  color: #fff;
}
section .bottom img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.artInfo {
  padding: 0 15px 10px;
}
.artInfo .title {
  padding-right: 70px;
}
.artInfo .title h4 {
  font-weight: 500;
  font-size: 14px;
}
/********************
LAYOUT
*********************/

/********************
HELPER CLASSES
*********************/
.list-reset {
  list-style: none;
}
